/* .paintOptions{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
} */

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.paintOptions {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 6px;
  display: flex;
  gap: 8px;
}
